.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s ;
}

.ex-1-square:hover{ 
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 2s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 2s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: transform 2s;
}

.ex-5-square:hover{
    transform: scale(1.67);
}

.ex-5-square:active {
    transform: scale(0.67);
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img {
    transition: filter 2s;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img {
    transition: filter 2s;
}

.ex-7-img:hover {
    filter: grayscale(0.5) sepia(0.5);
}

.ex-8-img {
    transition: filter 2s, border-radius 2s;
}

.ex-8-img:hover {
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 30px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.ex-9-img {
    transition: filter 2s, border-radius 2s, transform 2s;
}

.ex-9-img:hover {
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 15px;
    transform: scale(1.4);
}

.ex-10-icon {
    font-size: 60px;
    animation: rotation-10 linear 3s infinite;
}

@keyframes rotation-10 {
    25%{
        transform: rotate(-90deg);
    }

    50%{
        transform: rotate(-180deg);
    }

    75%{
        transform: rotate(-270deg);
    }

    100%{
        transform: rotate(-360deg);
    }
}


.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation: rotation-11 linear 3s;
}

@keyframes rotation-11 {
    32%{
        transform: rotate(90deg);
    }

    64%{
        transform: rotate(180deg);
    }

    96%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(-0deg);
    }
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white{
    animation: move-white-top-12 1s linear alternate 2;
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: move-white-bottom-12 1s linear alternate 2;
}

@keyframes move-white-top-12 {
    from{
        left: 10%;
    }
    to{
        left: calc(90% - 60px);
    }
}

@keyframes move-white-bottom-12 {
    from{
        right: 20%;
    }
    to{
        right: calc(80% - 60px);
    }
}

.ex-13-button:hover .ex-13-top-white{
    background-color: red;
    animation: move-white-top-13 3s linear infinite;
}

@keyframes move-white-top-13 {
    24%{
        left: calc(100% - 50px);
        top: -10px;
        width: 60px;
        height: 20px;
    }
    25%{
        width: 20px;
        height: 60px;
        left: calc(100% - 10px);
        top: -10px;
    }
    37%{
        width: 20px;
        height: 60px;
        left: calc(100% - 10px);
        top: calc(100% - 50px);
    }
    38%{
        width: 60px;
        height: 20px;
        left: calc(100% - 50px);
        top: calc(100% - 10px);
    }
    74%{
        width: 60px;
        height: 20px;
        left: -10px);
        top: calc(100% - 10px);
    }
    75%{
        width: 20px;
        height: 60px;
        left: -10px;
        top: calc(100% - 50px);
    }
    87%{
        width: 20px;
        height: 60px;
        left: calc(0% - 10px);
        top: -10px;
    }
    88%{
        width: 60px;
        height: 20px;
        left: -10px;
        top: -10px;
    }
    100%{
        left: 10%;
        top: -10px;
        width: 60px;
        height: 20px;
    }

}